/** Hamburger botton (svg) **/

.tpl_hamburger {
  position: fixed;
  z-index: 50;
}
.tpl_hamburger svg {
  height: 40px;
  width: 60px;
}
.tpl_hamburger svg {
  cursor: pointer;
  height: 100px;
  transform: translate3d(0px, 0px, 0px);
  width: 150px;
}
svg:not(:root) {
  overflow: hidden;
}
.tpl_hamburger path.top,
.tpl_hamburger path.bottom {
  stroke-dasharray: 240px, 950px;
}
.tpl_hamburger path {
  fill: none;
  stroke: #525252;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 40px;
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
}
.tpl_hamburger path.middle {
  stroke-dasharray: 240px, 240px;
}
.tpl_hamburger path {
  fill: none;
  stroke: #525252;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 40px;
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
}
.tpl_hamburger.active path.top,
.tpl_hamburger.active path.bottom {
  stroke-dashoffset: -650px;
}
.tpl_hamburger path.top,
.tpl_hamburger path.bottom {
  stroke-dasharray: 240px, 950px;
}
.tpl_hamburger.active path.middle {
  stroke-dasharray: 1px, 220px;
  stroke-dashoffset: -115px;
}

.center {
    margin-top: 50px;
    width: 100%;
    /**height: 400px;**/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.center__p {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: #575757;
}

.center_h1 {
    margin-top: 150px;
    padding-top: 150px;
    text-align: center;
    margin: auto;
    font-size: 56px;
    color: #353535;
}

.center_gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto;
}

.center__item {
    margin-top: 80px;
}

.center__item_h1 {
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
    color: #353535;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.center__span {
    text-transform: uppercase;
    margin-left: 40px;
    font-size: 15px;
    font-weight: 50;
    color: #575757;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.center__p {
    text-align: left;
    margin-right: 10px;
}

.read__more_center {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    border: 3px solid #999999;
    color: #999999;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    transition: color 0.3s linear;
}

.read__more_center:hover {
    background: #fcac45;
    color: #000;
    border: 3px solid #fcac45;
}

.img__c {
    width: 360px;
    height: 240px;
}

.intro {
    display: flex;
    background-image: url(../img/1920x1080/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    z-index: 2;
    min-height: 1080px;
}

.intro__text {
    margin-top: 400px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.intro__h1 {
    text-align: center;
    margin: auto;
    font-size: 120px;
    color: #fff;
}

.intro__p {
    margin: auto;
    font-size: 60px;
    color: #fff;
}

.img__pc {
    height: 427px;
    min-width: 50%;
}

.gallery__post_center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 70px;
    width: 100%;
}

.map {
    width: 100%;
    height: 500px;
    border: 0;
}

.maps {
    margin: auto;
}

.reviews {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    width: 100%;
    height: 400px;
    margin-top: 30px;
    margin-left: auto;
    text-align: left;
}

.span_revu {
    font-weight: 700;
    font-size: 56px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0013c0;
}

.revu_h2 {
    font-size: 56px;
    font-weight: 600;
    color: #646464;
}

.nav-menu {
  position: fixed;
  display: none;
  padding-top: 80px;
  flex-flow: column;
  height: 100%;
  background-color: #a3a2a2f1;
  overflow-y: auto;
  left: 0;
  z-index: 1;
}
.nav-menu.active {
  display: flex;
}
.nav-link {
    padding: 50px;
    font-family: sans-serif;
    font-size: 32px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    color: #fff;
}

.map {
    width: 100%;
    height: 500px;
    border: 0;
}

.maps {
    margin: auto;
}

.nav-link:hover {
    filter: brightness(0.8);
}

.reviews {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
    width: 100%;
    height: 400px;
    margin-top: 30px;
    margin-left: auto;
    text-align: left;
}

.span_revu {
    font-weight: 700;
    font-size: 56px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 19, 192);
}

.revu_h2 {
    margin-top: 40px;
    font-size: 56px;
    font-weight: 600;
    color: rgb(100, 100, 100);
}

.revu_p {
    font-family: 'Montserrat', sans-serif;
    
    font-weight: 900;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
}

.intro {
    display: flex;
    background-image: url(../img/1920x1080/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    z-index: 2;
    min-height: 1080px;
}

.intro__text {
    margin-top: 400px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.intro__h1 {
    text-align: center;
    margin: auto;
    font-size: 120px;
    color: #fff;
}

.intro__p {
    margin: auto;
    font-size: 60px;
    color: #fff;
}

.img__pc {
    height: 427px;
    min-width: 50%;
}

.gallery__post_center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 70px;
    width: 100%;
}

.center {
  margin-top: 50px;
  width: 100%;
  /**height: 400px;**/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.center__p {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: rgb(87, 87, 87);
}
.center_h1 {
    margin-top: 150px;
    padding-top: 150px;
    text-align: center;
    margin: auto;
    font-size: 56px;
    color: rgb(53, 53, 53);
}

.center_gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px auto;
}
.center__item {
  margin-top: 80px;
}
.center__item_h1 {
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
    color: rgb(53, 53, 53);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.center__span {
    text-transform: uppercase;
    margin-left: 40px;
    font-size: 15px;
    font-weight: 50;
    color: rgb(87, 87, 87);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.center__p {
  text-align: left;
  margin-right: 10px;
}
.read__more_center {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 30px;
  border: 3px solid #999999;
  color: #999999;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  transition: color 0.3s linear;
}
.read__more_center:hover {
    background: #fcac45;
    color: #000000;
    border: 3px solid #fcac45;
}
.img__c {
  width: 360px;
  height: 240px;
}


/** Hamburger botton (svg) **/

.tpl_hamburger {
    position: fixed;
    z-index: 50;
}

.tpl_hamburger svg {
    height: 40px;
    width: 60px;
}

.tpl_hamburger svg {
    cursor: pointer;
    height: 100px;
    transform: translate3d(0px, 0px, 0px);
    width: 150px;
}

svg:not(:root) {
    overflow: hidden;
}

.tpl_hamburger path.top,
.tpl_hamburger path.bottom {
    stroke-dasharray: 240px, 950px;
}

.tpl_hamburger path {
    fill: none;
    stroke: #525252;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-width: 40px;
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
}

.tpl_hamburger path.middle {
    stroke-dasharray: 240px, 240px;
}

.tpl_hamburger path {
    fill: none;
    stroke: #525252;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-width: 40px;
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
}

.tpl_hamburger.active path.top,
.tpl_hamburger.active path.bottom {
    stroke-dashoffset: -650px;
}

.tpl_hamburger path.top,
.tpl_hamburger path.bottom {
    stroke-dasharray: 240px, 950px;
}

.tpl_hamburger.active path.middle {
    stroke-dasharray: 1px, 220px;
    stroke-dashoffset: -115px;
}
.container {
  width: 100%;
  max-width: 1211px;
  margin: 0 auto;
  margin-bottom: 90px;
}
* {
  margin: 0;
  padding: 0;
}
/* Photo Box */
/** +==================== RENAME +===================================**/

.galery {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 670px; 
}
.first__pic{
    width: 760px;
    height: 380px;
    background-size: cover;
}
.second__pic{
    width: 380px;
    height: 380px;
    background-size: cover;
}
.Second__row img{
    width: 380px;
    height: 285px;
    background-size: cover;
   
}
/** +==================== RENAME +===================================**/

/*Prise List*/
.inside__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  max-height: 780px;
  background: linear-gradient(45deg, #bafff888, rgb(253, 231, 231));
  background-size: 200% 200%;
  animation: gradinet_backB 10s ease infinite;
}
.prise__list {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.prise__block {
  position: relative;
  background: #fff;
  margin-top: 50px;
  width: 380px;
  height: 490px;
  display: flex;
  top: 0;
  flex-direction: column;
  justify-content: center;
  transition: top 0.3s linear;
}
.prise__block:hover {
  top: 40px;
}
.title {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
  margin-top: 40px;
}
.text {
  margin-top: 20px;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 13px;
}
.inside__text__block {
  width: 100%;
  max-width: 260px;
  height: 290px;
  margin: 0 auto;
  /*Was Color for a block*/
  position: relative;
}
.button {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 130px;
  height: 50px;
  bottom: 0;
  text-decoration: none;
  color: #000000;
  text-align: center;
  background: rgba(219, 219, 219, 0.363);
  transition: color 0.5s linear;
  transition: padding 0.2s linear;
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);
}
.button:hover {
  background-color: #bdbcbc;
  padding: 5px;
  color: #292929;
}
.icon {
  margin: 0 auto;
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.ul {
    margin-top: 15px;
    margin-left: 12px;
    padding-left: 1em;
    list-style-type: none;
}

.ul>li::before {
    content: '–';
    font-weight: 900;
    font-size: 20px;
    position: absolute;
    margin-left: -1em;
    color: #0013c0;
}

.il_inner {
    /*content: '–';
    position: absolute;
    margin-left: -1em;
    color: #0013c0;
    list-style: square inside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==');*/
}
/*Ivan*/
/*Displaying */
.displaying {
  margin-bottom: 110px;
  display: flex;
  background-image: url(../img/1920x1080/02.jpg);
  height: 100%;
  width: 100%;
  z-index: 2;
  min-height: 375px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.title__displaying {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #fff;
}
.text__displaying {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  color: #fff;
  font-size: 16px;
  margin-top: 30px;
}



.buisness__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.buisness__box {
  width: 400px;
  height: 250px;
  background: rgb(255, 255, 255);
  margin: 1px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.buisness__block img{
    width: 50px;
    height: 50px;
    background-size: cover;
}
.img__bs{
    position: absolute;
    top: 40px;
    left: 50px;
}
.buisness__box:hover{
    background: linear-gradient(90deg,rgba(100, 198, 255, 0.829),rgb(183, 255, 239));
    background-size: 200% 200%;
    animation: gradient__blockB 10s ease infinite;
}
@keyframes gradient__blockB{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position:0 50%;
    }
}
.text__buisnessBlock{
    width: 270px;
    height: 90px;
    font-size: 13px;
    position: absolute;
    left:50px;
    bottom: 60px;
    color: #166;
    font-family: 'Montserrat', sans-serif;
}
.h3{
    margin-bottom: 25px;
    font-size: 18px;
    font-family: 'Baloo Tamma 2', cursive;
    color:#535667;
}

.background__buisness {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(45deg, #bafff888, rgb(253, 231, 231));
  background-size: 200% 200%;
  animation: gradinet_backB 10s ease infinite;
}

@keyframes gradinet_backB{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position:0 50%;
    }
}
.window__back {
    width: 100%;
    max-height: 710px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.prefooter_inner {
    border-bottom: 2px solid #8b8b8b;
}

.pre_footer {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.pre_f__column {
    text-align: left;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
}

.pre_f__column:last-child {
    margin-right: 0;
}

.pre_f_link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #575757;
    margin-bottom: 30px;
    transition: color 0.2s linear;
}

.pre_f_link:hover {
    color: #fcac45;
}

.post_maps {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    border-bottom: 1px solid #8b8b8b;
}

.post_maps_h2 {
    font-size: 25px;
    color: #5f5f5f;
    font-weight: 500;
}

.footer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo {
    cursor: pointer;
    width: 146px;
    height: 28px;
    background-image: url(../img/logo-dark.png);
}

.footer_p {
    font-size: 28px;
    font-weight: 700;
    color: #646464;
}

.footer__span {
    margin: 0 10px;
    color: #646464;
    font-weight: 500;
}
